<% content_for :head do %>
  <%= stylesheet_link_tag "maps", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "contact", 'data-turbolinks-track' => true %>
  <title>Contact | GTour</title>
<% end %>

<div class="container container2">
	<h1 class="whiteh1">Contact Us</h1>
	<div class="jumbotron">
  <h1>Contact Us</h1>
		<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Subject</label>
    <input type="textarea" class="form-control" id="exampleInputPassword1" placeholder="subject">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Message</label>
    <textarea class="form-control" rows="8"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Send</button>
</form>
	</div>
</div>

<footer>
  <hr />
  <div class="container text-right">
       <a href="https://twitter.com/gtour" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @gtour</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <p> Copyright &copy; GTour 2014</p>
  </div>
</footer>