
body {
	//background-color: #306d9f;
}

.whiteh1 {
	color: white;
}

.container {
	
}

.container2{
	padding-top: 50px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}